:ruby

%html
  %head
    %title Investor Ledger

    %link(rel="stylesheet" href="reset.css")
    %link(rel="stylesheet" href="styles.css")

  %body
    %h3
      .medium Your investment account
    %h1
      $#{("%.2f" % @end_balance).to_s}
      .small BALANCE

    .section
      %h1.transaction-header
        Make a transaction

      .transaction-content.hidden
        .transaction-subcontent
          %span Type of transaction:
          %select
            %option Withdrawl
            %option Deposit
            %option Transfer

          %span Destination:
          %select
            %option Personal Account
            %option Account 123
            %option Account 456

          %span Amount
          %input

          %button.submit Submit

        .transaction-subcontent
          .progress-wrap.processing
            .progress-bar

    .section
      %h1
        Past transactions
        .small 08/19/2014 - 10/15/2014

      .content
        %table
          %thead
            %tr
              %th Date
              %th Type
              %th Description
              %th Amount
              %th Balance

          %tbody
            - @ledger_data.each do |entry|
              %tr
                %td
                  = entry.date.to_date.to_s
                %td
                  = entry.type.capitalize
                %td.description
                  = entry.description
                %td
                  = '$' + ("%.2f" % entry.amount).to_s
                %td
                  = '$' + ("%.2f" % entry.balance).to_s

:javascript
  var transactionContent = document.querySelector('.transaction-content');
  document.querySelector('.transaction-header').addEventListener("click", function(e) {
    e.preventDefault();
    transactionContent.classList.remove('hidden');
  });

  var intervalID = 0;
  var progressBarWidth = 0;
  var progressBar = document.querySelector('.progress-bar');
  document.querySelector('.submit').addEventListener("click", function(e) {
    e.preventDefault();
    intervalID = setInterval(moveProgressBar, 500);
  });
  function moveProgressBar() {
    var progresssBarPercent = String(progressBarWidth) + "%"
    progressBar.style.left = progresssBarPercent;
    if (progressBarWidth === 100) {
      progressBar.parentNode.classList.remove('processing');
      window.clearInterval(intervalID);
    }
    progressBarWidth += 10;
  };
