:ruby

%html
  %head
    %title Investor Ledger

    %link(rel="stylesheet" href="reset.css")
    %link(rel="stylesheet" href="styles.css")

  %body
    %h3 Your investment account
    %h1
      $#{("%.2f" % @end_balance).to_s}
      .small BALANCE

    .section
      %h1
        Make a transaction

      .transaction-content
        .transaction-subcontent
          %span Type of transaction:
          %select
            %option Withdraw
            %option Deposit
            %option Transfer

          %span Destination:
          %select
            %option Personal Account
            %option Account 123
            %option Account 456

          %span Amount
          %input

          %button Submit

        .transaction-subcontent
          .progress-wrap
            .progress-bar{:style => "left: #{@percentage}%;"}

    .section
      %h1
        Past transactions
        .small 08/19/2014 - 10/15/2014

      .content
        %table
          %thead
            %tr
              %th Date
              %th Type
              %th Description
              %th Amount
              %th Balance

          %tbody
            - @ledger_data.each do |entry|
              %tr
                %td
                  = entry.date.to_date.to_s
                %td
                  = entry.type.capitalize
                %td.description
                  = entry.description
                %td
                  = '$' + ("%.2f" % entry.amount).to_s
                %td
                  = '$' + ("%.2f" % entry.balance).to_s

:javascript
  document.addEventListener("DOMContentLoaded", function(event) { 
    moveProgressBar();
  });
  function moveProgressBar() {
    console.log("moveProgressBar");
    var getPercent = ($('.progress-wrap').data('progress-percent') / 100);
    var getProgressWrapWidth = $('.progress-wrap').width();
    var progressTotal = getPercent * getProgressWrapWidth;
    var animationLength = 2500;

    // on page load, animate percentage bar to data percentage length
    // .stop() used to prevent animation queueing
    $('.progress-bar').stop().animate({
      left: progressTotal
    }, animationLength);
  };
